.img-copper-wrapper {
    user-select: none;
    .img-copper-left {
        height: 360px;

        .img-copper-con {
            position: relative;
            width: 300px;
            height: 240px;
            margin: 0 auto;
            overflow: hidden;

            .img-copper-img {
                position: absolute;
                display: block;
                max-width: none;
                max-height: none;
                cursor: move;
                user-select: none;
            }

            .img-copper-img-shade {
                position: absolute;
                top: 0;
                background-color: rgba(241, 242, 243, 0.8);
            }

            .img-copper-img-shade-1 {
                left: 0;
            }

            .img-copper-img-shade-2 {
                right: 0;
            }
        }

        .img-copper-range {
            position: relative;
            width: 300px;
            height: 20px;
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ant-slider {
                flex: 1;
                margin: 0 20px;
            }

            .anticon {
                font-size: 18px;
                cursor: pointer;
                transition: color 0.3s;

                &:hover {
                    color: var(--ant-primary-color);
                }
            }
        }
    }

    .img-copper-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 360px;

        .size-one,
        .size-two {
            text-align: center;
            margin-bottom: 20px;
            letter-spacing: 3px;
            color: #9a9a9a;

            span {
                display: block;
                margin-top: 5px;
            }
        }
    }
}
