.theme-picker-trigger {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    padding: 4px;
    border-radius: 4px;
    color: var(--ant-primary-color);
    font-size: 24px;
    cursor: pointer;
}

.theme-picker {
    .sketch-picker {
        box-shadow: none !important;
        border: 1px solid #dcdfe6;
    }

    .theme-picker-tool {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
    }
}
